.contenedor {
    margin-top: 20px;
}

.divider-espacio {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-filter {
    margin-left: 20px;
    margin-bottom: 20px;
}

.spaces-filter {
    width: 30vw;
}

.centrar-texto {
    text-align: center !important;
}

.button-table {
    margin-right: 10px;
}

.opcion-table {
    padding-left: 50px;
}

.margin-button-new {
    margin-left: 10px;
}

td, th {
    text-align: center !important;
    vertical-align: middle !important;
}

.mat-sort-header-container {
    justify-content: center !important;
}