<mat-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="workspaceForm">

        <mat-card appearance="outlined" class="center-div espacio-card">
            <mat-card-content>

                <form [formGroup]="workspaceForm">

                    <ng-template matStepLabel>Complete los datos</ng-template>

                    <div>
                        <mat-form-field>
                            <mat-label>Nombre del espacio</mat-label>
                            <input matInput placeholder="Nombre del espacio" formControlName="nombre" required>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field style="min-height: 200px">
                            <mat-label>Descripción</mat-label>
                            <textarea matInput rows="5" cols="40" placeholder="Descripción"
                                formControlName="descripcion"></textarea>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field>
                            <mat-label>Fecha de inicio</mat-label>
                            <input matInput [matDatepicker]="pickerFechaInicio" formControlName="fecha_inicio">
                            <mat-datepicker-toggle matIconSuffix [for]="pickerFechaInicio"></mat-datepicker-toggle>
                            <mat-datepicker #pickerFechaInicio></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field>
                            <mat-label>Fecha de finalización</mat-label>
                            <input matInput [matDatepicker]="pickerFechaFinalizado" formControlName="fecha_finalizado">
                            <mat-datepicker-toggle matIconSuffix [for]="pickerFechaFinalizado"></mat-datepicker-toggle>
                            <mat-datepicker #pickerFechaFinalizado></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field>
                            <mat-label>Estado</mat-label>
                            <mat-select formControlName="id_estado" required>
                                @for (estado of estados; track estado) {
                                <mat-option [value]="estado.id">{{estado.nombre}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="center-div">
                        <button type="button" class="button-back" mat-flat-button
                            (click)="returnBack()"><mat-icon>arrow_back</mat-icon> Volver</button>
                        <button mat-flat-button matStepperNext><mat-icon>arrow_forward</mat-icon> Siguiente</button>
                    </div>
                </form>

            </mat-card-content>
        </mat-card>

    </mat-step>
    <mat-step label="Imágenes">
        <form>
            <div class="form-upload upload-style">
                <div>
                    <h4>Seleccione las imágenes</h4>
                </div>
                <div>
                    <input type="file" class="file-input" accept="image/png, image/jpeg" multiple (change)="uploadFiles($event)" #fileUpload>
                    <button mat-mini-fab color="primary" class="button-icon-table uploader-button"
                        (click)="fileUpload.click()">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                </div>
            </div>

            <div *ngIf="listarImagenesSubidas == false">
                <div *ngFor="let progressInfo of progressInfos" class="row">
                    <div class="column first-column">{{ progressInfo.fileName }}</div>
                    <div class="column second-column lista-progreso">
                        <mat-progress-bar mode="determinate" value={{progressInfo.value}}></mat-progress-bar>
                    </div>
                </div>
            </div>

            <div *ngIf="listarImagenesSubidas == true" class="mat-elevation-z8">
                <table mat-table [dataSource]="images" class="mat-elevation-z8" style="width: 100%;">

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef>Imagen</th>
                        <td mat-cell *matCellDef="let imagen"><img class="imagen"
                                [src]="urlImages + '/' + imagen.imagen" /></td>
                    </ng-container>

                    <ng-container matColumnDef="opcion">
                        <th mat-header-cell *matHeaderCellDef class="opcion-table">Opción</th>
                        <td mat-cell *matCellDef="let image">
                            <button class="button-icon-table" (click)="imageUp(image.id)" mat-fab>
                                <mat-icon>arrow_upward</mat-icon>
                            </button>
                            <button class="button-icon-table" (click)="imageDown(image.id)" mat-fab>
                                <mat-icon>arrow_downward</mat-icon>
                            </button>
                            <button class="button-icon-table" (click)="openDialogConfirmDelete(image.id,image.nombre)"
                                mat-fab>
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>

            <div class="center-div seleccion-imagenes">
                <button mat-flat-button matStepperPrevious class="steps-button"><mat-icon>arrow_back</mat-icon>
                    Anterior</button>
                <button mat-flat-button matStepperNext><mat-icon>arrow_forward</mat-icon> Siguiente</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Finalizar</ng-template>
        <div class="center-div">
            <h3 class="title-confirm">¿ Desea guardar el espacio ?</h3>
        </div>
        <div class="center-div">
            <button mat-flat-button matStepperPrevious class="steps-button"><mat-icon>arrow_back</mat-icon>
                Anterior</button>
            <button mat-flat-button class="steps-button" (click)="submitForm()"><mat-icon>save</mat-icon>
                Guardar</button>
            <button mat-flat-button (click)="stepper.reset()"><mat-icon>restart_alt</mat-icon> Reiniciar</button>
        </div>
    </mat-step>
</mat-stepper>