.container {
  font-size: 12px;
  width: 100%;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 5fr 2fr;
  gap: 1em;
}

p {
  margin: 0.2em;
}

.buttons-timer {
  justify-self: center;
}

.tarea-nombre {
  margin-top: 20px;
  font-size: 30px;
  justify-self: center;
}

.timer {
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  justify-self: center;
}

.normal {
  font-size: 0.8em;
  margin: 0.5 1.5em 0.5em 0.5em;
  padding: 1em 0;
}